{% extends 'base_nav.html' %}

{% block mainContent %}
<div class="w-full h-full flex justify-center items-center">
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <h2><b>申請該職缺</b></h2>
        <span>請輸入你的履歷url</span>
        <form class="card-body" method="post">
            <div class="form-control">
                <input type="text" name="resume_url" placeholder="resume_url" class="input input-bordered" />
            </div>
            <div class="form-control mt-6">
                <input class="btn btn-primary" value="送出" type="submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}