{% extends 'base_auth.html' %}

{% block mainContent %}
<div class="w-full h-full flex justify-center items-center">
    <div class="card w-96 h-72 shadow-2xl bg-base-100 p-4 gap-2">
        <div class="text-3xl font-bold">申請該職缺</div>
        <span>請上傳你的履歷</span>
        <form class="h-full flex-col justify-between" action="" method=post enctype=multipart/form-data>
          <input class="file-input file-input file-input-bordered w-full" type=file name=file>
          <input class="btn btn-primary btn-active w-full" type=submit value=Upload>
        </form>
        </div>
</div>
{% endblock %}