{% extends 'base_nav.html' %}

{% block mainContent %}
<div class="w-full h-full flex justify-center items-center">
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <label class="label">
            <span class="label"><b>Company Name</b></span>
        </label>
        <span>
            {{ company.company_name }}
        </span>
        <label class="label">
            <span class="label-text"><b>Company address</b></span>
        </label>
        <span>
            {{ company.address }}
        </span>
        <label class="label">
            <span class="label-text"><b>Company phone</b></span>
        </label>
        <span>
            {{ company.phone }}
        </span>
        <label class="label">
            <span class="label-text"><b>Company website</b></span>
        </label>
        <span>
            {{ company.website }}
        </span>
        <label class="label">
            <span class="label-text"><b>Company category</b></span>
        </label>
        <span>
            {{ company.category }}
        </span>
      </div>
    </div>
</div>
{% endblock %}