{% extends 'base_nav.html' %}
{% block rightNavbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand mb-0 h1" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/front_page">首頁 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/modify_data">修改個人資料</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"></a>
      </li>
    </ul>
  </div>
</nav>
{% endblock rightNavbar %}

{% block mainContent %}
<div class="w-full h-full flex justify-center items-center">
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <label class="label">
            <span class="label"><b>Company Name</b></span>
        </label>
        <span>
            {{ company.company_name }}
        </span>
        <label class="label">
            <span class="label-text"><b>Company address</b></span>
        </label>
        <span>
            {{ company.address }}
        </span>
        <label class="label">
            <span class="label-text"><b>Company phone</b></span>
        </label>
        <span>
            {{ company.phone }}
        </span>
        <label class="label">
            <span class="label-text"><b>Company website</b></span>
        </label>
        <span>
            {{ company.website }}
        </span>
        <label class="label">
            <span class="label-text"><b>Company category</b></span>
        </label>
        <span>
            {{ company.category }}
        </span>
      </div>
    </div>
</div>
{% endblock %}