{% extends 'base_auth.html' %}

{% block mainContent %}
<div class="w-full h-full flex justify-center items-center p-4 overflow-scroll">
    <div class="w-1/2 h-full flex flex-col items-center bg-base-200 gap-2">
        {% for event in events %}
        <div class="event-main card w-96 h-auto bg-base-100 p-4">
            <div class="event-title text-2xl uppercase">
                <a href="{{ url_for('participate', event_id=event.event_id) }}">{{ event.event_name }}</a>
            </div>
            <div class="divider" ></div>
            <div class="event-content">
                <span>Description: </span>
                {{ event.description }}
            </div>
            <div class="event-detail">
                <span class="event-website">Website: {{ event.website }}</span>
                <br>
                <span class="event-category">Category: {{ event.category }}</span>
                <br>
                <span class="event-category">Start: {{ event.start_time }}</span>
                <br>
                <span class="event-category">End: {{ event.end_time }}</span>

                {% for sponsor in sponsors %}
                {% if sponsor[0].event_id == event.event_id %}
                <br>
                <span class="event-category">Sponsors: {{ sponsor[2].company_name }} </span>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="divider"></div>
        {% endfor %}

        <div class="h-full w-full" style="min-height: 100%;">&nbsp;</div>
    </div>
</div>
{% endblock %}