{% extends 'base_auth.html' %}

{% block mainContent %}
<div class="w-full h-full flex justify-center items-center p-4 overflow-scroll">
    <div class="w-1/2 h-full flex flex-col items-center bg-base-200 gap-2 pb-24">
        {% for job in jobs %}
        <div class="job-main card w-96 h-auto bg-base-100 p-4">
            <a href="{{ url_for('apply_page', job_id=job.job_id) }}">
                <div class="job-title text-3xl text-sky-500">
                    {{ job.job_name }}
                </div>
            </a>
            <div class="divider"></div>
            <div class="job-content">
                <span>Description: </span>
                {{ job.description }}
            </div>
            <div class="job-detail">
                <span class="job-requirement">Requirement: {{ job.requirement }}</span>
                <br>
                <a class="link" href="{{ url_for('company_info', company_id=job.company.company_id) }}">{{
                    job.company.company_name }}</a>
            </div>
        </div>
        <div class="divider"></div>
        {% endfor %}
        <div class="h-full w-full" style="min-height: 100%;">&nbsp;</div>
    </div>
</div>
{% endblock mainContent %}