{% extends 'base.html' %}
{% block mainContent %}
<div class="hero h-full bg-base-200">
    <div class="hero-content flex-col lg:flex-row">
        <img src="/static/images/job.jpg"
            class="h-96 w-96 object-cover rounded-lg shadow-2xl" />
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">鐵人橋</h1>
            <p class="py-6 text-2xl">連結求職者與雇主，讓求職過程更高效、愉快。尋找理想職位，展現個人才華。</p>
            <button class="btn btn-lg btn-primary">
                <a href="{{ url_for('register') }}">
                    求職者
                </a>
            </button>
            <button class="btn btn-lg btn-primary">
                <a href="{{ url_for('login') }}">
                    我已經有帳號了
                </a>
            </button>
            <button class="btn btn-lg btn-primary">
                <a href="{{ url_for('company_register') }}">
                    公司行號
                </a>
            </button>
        </div>
    </div>
</div>
{% endblock mainContent %}