{% extends 'base_auth.html' %}
{% block mainContent %}
<div class="w-full h-full flex justify-center items-start pt-2">
    <form method="post"  class="card flex-shrink-0 w-96 shadow-2xl bg-base-100">
        <div class="card-body">
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Email</span>
                </label>
                <input type="text" placeholder="email" name="email" id="email" class="input input-bordered" />
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Password</span>
                </label>
                <input type="password" placeholder="password" name="password" id="password" class="input input-bordered" />
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Name</span>
                </label>
                <input type="text" placeholder="name" name="name" id="name" class="input input-bordered" />
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Phone</span>
                </label>
                <input type="number" placeholder="phone" name="phone" id="phone" class="input input-bordered" />
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Gender</span>
                </label>
                <input type="text" placeholder="gender" name="gender" id="gender" class="input input-bordered" />
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Birthday</span>
                </label>
                <input type="text" placeholder="yyyy/mm/dd" name="birthday" id="birthday" class="input input-bordered" />
            </div>
            <div class="form-control mt-6">
                <input type="submit" class="btn btn-primary" value="修改">
            </div>
        </div>
    </div>
</div>
{% endblock mainContent %}
