<div class="w-full h-full flex justify-center items-center p-4 overflow-scroll">
    <div class="w-1/2 h-full flex flex-col items-center bg-base-200 gap-2 pb-24">
        {% for job in jobs %}
        <div class="job-main card w-96 h-auto bg-base-100 p-4">
            <a href="{{ url_for('apply_page', job_id=job.job_id) }}">
                <div class="flex">

                    <div class="job-title text-3xl text-sky-500 grow">
                        {{ job.job_name }}
                    </div>
                    {% if isCompany %}
                        <div class="">
                            <a href={{ url_for('delete')}} class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                                <span class="sr-only">Close menu</span>
                                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </a>
                    </div>
                    {% endif %}
                </div>
            </a>
            <div class="divider"></div>
            <div class="job_id">
                <span>ID: </span>
                {{ job.job_id }}
            </div>

            <div class="job-content">
                <span>Description: </span>
                {{ job.description }}
            </div>
            <div class="job-detail">
                <span class="job-requirement">Requirement: {{ job.requirement }}</span>
                <br>
                <a class="link" href="{{ url_for('company_info', company_id=job.company.company_id) }}">{{
                    job.company.company_name }}</a>
            </div>
            {% if isCompany %}
            <br>
            {% for application in applications%}
            {% if application.job.job_id == job.job_id %}
                <div class="job-content">
                <span>Applicant: </span>
                {{ application.applicant.zh_name }}
                </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="divider"></div>

        {% endfor %}
        <div class="h-full w-full" style="min-height: 100%;">&nbsp;</div>
    </div>
</div>